.div_menu, .menu{
    background-color: black;
    color: white;
    text-transform: uppercase;
}
.slider-div{
    text-align: center;
    margin-top: 10px;
}
.slider{
    width: 48%;
}
p{
    text-align: justify;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
}